@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-50-2: hsla(260, 100%, 95%, 0.8);
  --purple-300: hsl(264, 82%, 80%);
  --purple-300-2: hsla(264, 82%, 80%, 0.6);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --footer-link: hsl(228, 45%, 44%);
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

footer {
  font-size: 0.6875rem;
  text-align: center;
  color: var(--grey-500);
  padding: 2rem;
}
footer a {
  color: var(--footer-link);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  padding: 19.2% 9.33%;
  color: var(--white);
  background-color: var(--grey-100);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  max-width: 52.92rem;
  margin: 0 auto;
}

section {
  background-color: var(--purple-500);
  padding: min(10%, 3.125rem);
  border-radius: 0.5rem;
  max-height: 30rem;
  overflow-y: scroll;
  box-shadow: 2.54rem 3.462rem 1.923rem var(--grey-200);
}
section header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.9375rem;
}
section header img {
  width: min(12.3%, 2.8125rem);
  height: min(12.3%, 2.8125rem);
  border-radius: 50%;
  border: 0.125rem solid var(--purple-300-2);
}

.name-information {
  font-size: 0.75rem;
  line-height: 1;
  color: var(--purple-50);
}

.verified {
  margin-top: 0.3125rem;
  font-size: 0.6375rem;
  letter-spacing: 0.0125rem;
  color: var(--purple-50-2);
}

.testimonial {
  font-size: 1.129375rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.9375rem;
  line-height: 1.25;
  color: var(--white);
}

.quote {
  font-size: 0.821875rem;
  color: var(--purple-50-2);
  line-height: 1.3;
}

.jonathan {
  background-color: var(--grey-500);
}
.jonathan img {
  border-color: var(--grey-200);
}

.jeanette {
  background-color: var(--white);
}
.jeanette img {
  border-color: var(--white);
}
.jeanette .name-information {
  color: var(--grey-500);
}
.jeanette .verified {
  color: var(--grey-500);
}
.jeanette .testimonial {
  color: var(--grey-500);
}
.jeanette .quote {
  color: var(--grey-500);
}

.patrick {
  background-color: var(--dark-blue);
}
.patrick img {
  border-color: var(--purple-500);
}
.patrick .testimonial {
  color: var(--grey-200);
}
.patrick .quote {
  color: var(--grey-200);
}

.kira {
  background-color: var(--white);
}
.kira img {
  border-color: var(--white);
}
.kira .name-information {
  color: var(--grey-500);
}
.kira .verified {
  color: var(--grey-400);
}
.kira .testimonial {
  color: var(--grey-500);
}
.kira .quote {
  color: var(--grey-400);
}

@media only screen and (min-width: 23.4375rem) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 37.5rem) {
  .name-information {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 73.125rem) {
  body {
    padding: 0;
  }
  main {
    max-width: 69.6875rem;
    height: 36.4375rem;
    width: 100%;
    margin: 20% auto 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 1.4375rem 1.9375rem;
  }
  .name-information {
    font-size: 0.75rem;
  }
  section {
    max-height: 100%;
    padding: 1.8125rem;
    overflow-y: hidden;
  }
  section header {
    gap: 0.8125rem;
    margin-bottom: 1.2rem;
  }
  section header img {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    border: 0.125rem solid var(--purple-300-2);
  }
  .testimonial {
    font-size: 1.12rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    margin-bottom: 1.2rem;
    line-height: 1.3;
    transform: scaleY(1.1);
  }
  .quote {
    font-size: 0.82rem;
  }
  .daniel {
    grid-area: 1/1/2/3;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 11% top;
    background-size: auto;
  }
  .jonathan {
    grid-area: 1/3/2/4;
  }
  .jeanette {
    grid-area: 2/1/3/2;
  }
  .patrick {
    grid-area: 2/2/3/4;
  }
  .kira {
    grid-area: 1/4/3/5;
  }
}/*# sourceMappingURL=styles.css.map */