@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple-50: hsl(260, 100%, 95%);
    --purple-50-2: hsla(260, 100%, 95%, 0.8);
    --purple-300: hsl(264, 82%, 80%);
    --purple-300-2: hsla(264, 82%, 80%, 0.6);
    --purple-500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
    --footer-link: hsl(228, 45%, 44%);
}

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

footer {
    font-size: 0.6875rem;
    text-align: center;
    color: var(--grey-500);
    padding: 2rem;

    a {
        color: var(--footer-link);
    }
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    padding: 19.2% 9.33%;
    color: var(--white);
    background-color: var(--grey-200);
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 2rem;
}

section {
    background-color: var(--purple-500);
    padding: 10%;
    border-radius: 0.5rem;
    max-height: 29.25rem;
    overflow-y: scroll;

    header {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 0.9375rem;

        img {
            width: 12.3%;
            height: 12.3%;
            border-radius: 50%;
            border: 0.125rem solid var(--purple-300-2);
        }
    }

}

.name-information {
    font-size: 0.75rem;
    line-height: 1;
    color: var(--purple-50);
}

.verified {
    margin-top: 0.3125rem;
    font-size: 0.6375rem;
    letter-spacing: 0.0125rem;
    color: var(--purple-50-2);
}

.testimonial {
    font-size: 1.129375rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    margin-bottom: 0.9375rem;
    line-height: 1.25;
    color: var(--white);
}

.quote {
    font-size: 0.821875rem;
    color: var(--purple-50-2);
    line-height: 1.3;
}

.jonathan {
    background-color: var(--grey-500);

    img {
        border-color: var(--grey-200);
    }
}

.jeanette {
    background-color: var(--white);

    img {
        border-color: var(--white);
    }

    .name-information {
        color: var(--grey-500);
    }

    .verified {
        color: var(--grey-500);
    }

    .testimonial {
        color: var(--grey-500);
    }

    .quote {
        color: var(--grey-500);
    }
}

.patrick {
    background-color: var(--dark-blue);

    img {
        border-color: var(--purple-500);
    }

    .testimonial {
        color: var(--grey-200);
    }

    .quote {
        color: var(--grey-200);
    }
}

.kira {
    background-color: var(--white);

    img {
        border-color: var(--white);
    }

    .name-information {
        color: var(--grey-500);
    }

    .verified {
        color: var(--grey-400);
    }

    .testimonial {
        color: var(--grey-500);
    }

    .quote {
        color: var(--grey-400);
    }
}

@media only screen and (min-width: 23.4375rem) {
    html {
        font-size: 16px;
    }
}